<div class="panel panel-default">
  <div class="panel-heading">
    <h1>メッセージ一覧</h1>
  </div>
  
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <% if message.age.present? %>
        <span class="label label-success"><i>age:<%= message.age %></i></span>
      <% end %>
      <% #edit.html.erbへリンクする %>
      [
      <%= link_to "edit" , edit_message_path(message) %> ,
      <%= link_to "delete" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
      ]
      <br>
    <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>
